node_modules/
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock
.yarn-integrity
lerna-debug.log*

build
dist

.DS_Store
.env
.env.local
.env.development
.env.test
.env.production

.npm
.eslintcache
